<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
</head>

<body>
  <div id="redwood-app">
    <!-- Please keep the line below for prerender support. -->
    <%= prerenderPlaceholder %>
  </div>
</body>

</html>
